<div style="padding: 10px;">

  <button mat-icon-button
          style="position: absolute; top: 10px; right: 10px;"
          (click)="fn_CerrarMDL(0)">
      <mat-icon>close</mat-icon>
  </button>

  <div class="row">

      <div class="col-md-12">

          <!-- <h1>Venta de {{ ODataP.saleTypeDesc }} por {{ ODataP.total | currency }}, Saldo a cubrir </h1> -->

      </div>

  </div>

  <div class="row top10px">
      <div class="col-md-12">
          <div class="badge bg-primary text-wrap" style="font-size: 15px; background-color: #3f51b5 !important;">
              MODIFICACIÓN DE SOBRE DE TALLER
          </div>
      </div>
  </div>

  <div class="row">

    <div class="col-md-12">
        <mat-form-field class="example-full-width with100 top20px">
            <mat-label>Descripción</mat-label>
            <textarea #tbxDescription
            matInput
            cdkTextareaAutosize
            placeholder="Ingrese la descripción del sobre"
            [(ngModel)]="oDataSale.descriptionTaller"></textarea>
        </mat-form-field>
    </div>

</div>

  <div class="row top10px">

    <div class="col-md-6">
      <mat-label>Estatus: </mat-label>

        <mat-form-field
        style="width: 100%;"
        (click)="cbxSobreTallerStatus_Clear(); cbxSobreTallerStatus_Search()">
            <input #cbxStatusSobreCBX
                    type="text"
                    style="width: 100%;"
                    placeholder="Selecciona..."
                    aria-label="Number"
                    matInput
                    [(ngModel)]="oDataSale.statusSobreDesc"
                    [matAutocomplete]="cbxSaleType"

                    (input)="cbxSobreTallerStatus_Search()"
                    (click)="cbxSobreTallerStatus_Clear()">
                    <button *ngIf="oDataSale.statusSobreDesc" matSuffix mat-icon-button aria-label="Clear" (click)="cbxSobreTallerStatus_Clear()">
                        <mat-icon>close</mat-icon>
                    </button>
            <mat-autocomplete autoActiveFirstOption
                                #cbxSaleType="matAutocomplete"
                                (optionSelected)="cbxSobreTallerStatus_SelectedOption( $event )">
                <mat-option *ngFor="let item of cbxSobreTallerStatus" [value]="item">
                    {{ item.name }}
                </mat-option>

                <mat-option value="" *ngIf="cbxSobreTallerStatus.length == 0 && oDataSale.statusSobreDesc">
                    No se encontró nada...
                </mat-option>

            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="col-md-6 top20px">
        <mat-form-field fxLayout.xs="column" class="with100">
            <mat-label>Precio del sobre</mat-label>
            <mat-icon matPrefix class="my-icon">attach_money</mat-icon>
            <input
            matInput
            class="textAlingRight"
            type="text"
            [(ngModel)]="oDataSale.importe"
            appDecimalNumber>
        </mat-form-field>
    </div>

  </div>

  <div class="row top10px">
    <div class="col-md-12" style="text-align: center;">
        <mat-form-field class="">
        <mat-label>Fecha de entrega:</mat-label>
        <input class="textAlingCenter" matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" [(ngModel)]="oDataSale.fechaEntrega">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
  </div>

  <div class="row top10px">
      <div class="col-md-12">
          <div style="float: left;">

              <button mat-raised-button
              color="primary"
              type="submit"
              class="marginRight10px"

              (click)="fn_editTaller()"
              *ngIf="this.ODataP.idSale.length > 0 && oDataSale.importe > 0 && oDataSale.descriptionTaller.length > 0 && oDataSale.idStatusSobre > 0">
              <mat-icon matPrefix class="my-icon">save</mat-icon>
              Editar sobre de taller</button>

              <button mat-raised-button
              type="button"
              class="marginRight10px"
              (click)="fn_CerrarMDL(0)">
              <mat-icon matPrefix class="my-icon">close</mat-icon>
              Cerrar</button>

          </div>
      </div>
  </div>

</div>

<app-spinner [hidden]="!bShowSpinner"></app-spinner>
