<div style="padding: 10px;">

    <div class="row">

        <div class="col-md-12">

            <h1>Saldo pendiente {{ data.pendingAmount | currency }}</h1>

        </div>

    </div>

    <div class="row" *ngIf="data.pendingAmount > 0">
                                    
        <div class="col-md-3">
            
            <mat-label>Forma de pago: <strong>{{ ( abonoForm.needFxRate ? " TC: " + abonoForm.fxRate : "" ) }}</strong> </mat-label>
            <mat-form-field
            style="width: 100%;"
            (click)="cbxFormasPago_Search()">
                <input #cbxFormasPagoCBX
                        class="colorGreen fontSize"
                        type="text"
                        style="width: 100%;"
                        placeholder="Selecciona..."
                        aria-label="Number"
                        matInput
                        [(ngModel)]="abonoForm.formaPagoDesc"
                        [matAutocomplete]="cbxFormaPago"
                        
                        (input)="cbxFormasPago_Search()"
                        (focus)="cbxFormasPago_Search()">
                        <button *ngIf="abonoForm.formaPagoDesc" matSuffix mat-icon-button aria-label="Clear" (click)="cbxFormasPago_Clear()">
                            <mat-icon>close</mat-icon>
                        </button>
                <mat-autocomplete autoActiveFirstOption
                                    #cbxFormaPago="matAutocomplete"
                                    (optionSelected)="cbxFormasPago_SelectedOption( $event, tbxPaga )">
                    <mat-option *ngFor="let item of cbxFormasPago" [value]="item">
                        {{ item.name }}
                    </mat-option>
    
                    <mat-option value="" *ngIf="cbxFormasPago.length == 0 && abonoForm.formaPagoDesc">
                        No se encontró nada...
                    </mat-option>
    
                </mat-autocomplete>
            </mat-form-field>
            
        </div>

        <div class="col-md-3">
            
            <mat-form-field class="with100 top20px">
                <mat-label>PAGA</mat-label>
                <input #tbxPaga
                class="textAlingRight colorGreen fontSize"
                
                matInput
                currencyMask
                placeholder="PAGA"
                [(ngModel)]="abonoForm.paga"
                (keyup)="event_fn_Paga( $event )">
            </mat-form-field>
            
        </div>

        <div class="col-md-3" *ngIf="abonoForm.needRef == 1">
            
            <mat-form-field class="with100 top20px">
                <mat-label>Referencia</mat-label>
                <input #tbxReferencia
                type="text"
                class="textAlingRight colorGreen fontSize"
                
                matInput
                placeholder="Referencia"
                [(ngModel)]="abonoForm.referencia"
                (keyup)="event_fn_Referencia( $event )">
            </mat-form-field>
            
        </div>

        <div class="col-md-3" *ngIf="abonoForm.idFormaPago == 1 || abonoForm.idFormaPago == 3">
            
            <mat-form-field class="with100 top20px">
                <mat-label>PAGA CON <strong>{{ ( abonoForm.needFxRate ? " TC: " + abonoForm.fxRate : "" ) }}</strong></mat-label>
                <input #tbxPagaCon
                class="textAlingRight colorGreen fontSize"
                
                matInput
                currencyMask
                placeholder="PAGA CON"
                [(ngModel)]="abonoForm.pagaCon"
                (keyup)="event_fn_PagaCon_GetCambio( $event )">
            </mat-form-field>
            
        </div>

        <div class="col-md-3" *ngIf="abonoForm.idFormaPago == 1 || abonoForm.idFormaPago == 3">
            
            <mat-form-field class="with100 top20px">
                <mat-label>CAMBIO</mat-label>
                <input #tbxCambio
                style="font-size: 25px;"
                class="textAlingRight colorGreen"

                [ngClass]="{ 'colorRed': abonoForm.cambio < 0 }"
                matInput
                currencyMask
                placeholder="CAMBIO"
                
                [(ngModel)]="abonoForm.cambio"

                (keyup)="event_fn_Cambio( $event )"
                
                readonly="true">
            </mat-form-field>
            
        </div>
            
    </div>

    <div class="row top20px">
        <div class="col-md-12">

           <div *ngIf="abonoForm.saldoACubrir == 0">
                <button mat-button #btnSaveSale (click)="saveAndPrint()" color="warn">Guardar e imprimir ticket</button>
                <button mat-button (click)="close()">Salir</button>
            </div>
            
        </div>

    </div>

    <div class="row top20px">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th class="textAlingLeft">Forma de pago</th>
                        <th class="textAlingLeft">Descripción</th>
                        <th class="textAlingRight">Abono</th>
                        <th class="textAlingLeft">Vendedor</th>
                        <th class="textAlingCenter">Fecha</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of abonoslist; let i = index">
                            
                            <td style="text-align:left;">{{ item.formaPagoDesc }}</td>
                            <td style="text-align:left;">{{ item.description }}</td>
                            <td style="text-align: right;">{{ item.pago | currency }}</td>
                            <td style="text-align:left;">{{ item.sellerName }}</td>

                            <td class="textAlingCenter">

                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-icon style="margin-top: -5px;" matPrefix class="my-icon">calendar_today</mat-icon>
                                        <label style="margin-left: 10px;">{{ item.createDate | date:'dd-MM-yyyy h:mm:ss a' }}</label>
                                    </div>
                                </div>
                                
                            </td>

                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>

            <app-pagination *ngIf="abonoslist" [IPagination]="pagination"
                        (OPagination)="changePagination($event)">
            </app-pagination>
            
        </div>

    </div>

</div>
    
<app-spinner [hidden]="!bShowSpinner"></app-spinner>