<div style="margin: 20px !important">
    <div class="row">

        <div class="col-md-10">
            <h1>Comisión #{{ ODataP.idComision }} de {{ ODataP.userName }} </h1>
        </div>

        <div class="col-md-2">
            <button mat-icon-button
                style="float: right;"
                    (click)="fn_CerrarMDL(0)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <mat-accordion>
    
        <mat-expansion-panel (opened)="panelComisionDetailOpenState = true"
                             (closed)="panelComisionDetailOpenState = false"
                             [expanded]="true"
                             class="divMain"
                             style="margin-top: 10px !important;">
          <mat-expansion-panel-header class="autoHeight">
            <mat-panel-title class="text-align: center">
                Detalle de la comisión
            </mat-panel-title>
          </mat-expansion-panel-header>
          
        <div class="" *ngIf="oComisionDetailHeader.sumComisiones > 0">
        
            <div class="row">
                <div class="col-md-12">
                    <div class="badge bg-primary text-wrap" style="font-size: 15px;">
                        Suma de comisión
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3" style="position: relative;">
                    <img style="display: inline-block;" width="60" src="assets/img/icons/currencyIco.gif" alt="">
                    <h2 style="display: inline-block;">{{ oComisionDetailHeader.sumComisiones | currency }}</h2>
                </div>
            </div>
        </div>
         
        <div class="" style="width: 100%; margin-top: 10px !important;" *ngIf="oComisionDetail.length > 0">
        
            <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    
                                    <th class="textAlingCenter padding-th">Acciones</th>
                                    <th class="textAlingLeft padding-th">idRelación</th>
                                    <th class="textAlingRight padding-th">Utilidad</th>
                                    <th class="textAlingRight padding-th">Porcentaje</th>
                                    <th class="textAlingRight padding-th">Comisión</th>
                                    <th class="textAlingLeft padding-th">Comentario</th>
        
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of oComisionDetail">
        
                                        <td class="textAlingCenter">
                                            <div style="width: 100px;">
        
                                                <span class="material-icons manitaSobre colorRed"
                                                matTooltip="Eliminar Comisión"
                                                (click)="fn_startPhysicInventory( item.idComisionDetail )">
                                                    delete_outline
                                                </span>
        
                                            </div>
                                        </td>
        
                                        <td class="textAlingLeft">
                                            <div style="width: 130px; padding: 2px;">
                                                {{ item.idRelation }}
                                            </div>
                                        </td>
        
                                        <td class="textAlingRight">
                                            <div style="width: 100px; padding: 2px;">
                                                {{ item.utilidad | currency }}
                                            </div>
                                        </td>

                                        <td class="textAlingRight">
                                            <div style="width: 100px; padding: 2px;">
                                                {{ item.porcentaje * 100 }}%
                                            </div>
                                        </td>

                                        <td class="textAlingRight">
                                            <div style="width: 100px; padding: 2px;">
                                                {{ item.comisionFinal | currency }}
                                            </div>
                                        </td>
        
                                        <td class="textAlingLeft">
                                            <div style="width: 200px; padding: 2px;">
                                                {{ item.comentario }}
                                            </div>
                                        </td>
        
                                    </tr>
        
                                </tbody>
                            </table>
                        </div>
                    
                    </div>
            </div>
            
        </div>
    
        </mat-expansion-panel>
      </mat-accordion>

    <mat-accordion>
    
        <mat-expansion-panel (opened)="panelPagosDetailState = true"
                             (closed)="panelPagosDetailState = false"
                             [expanded]="false"
                             class="divMain"
                             style="margin-top: 10px !important;">
          <mat-expansion-panel-header class="autoHeight">
            <mat-panel-title class="text-align: center">
              Detalle de pagos
            </mat-panel-title>
          </mat-expansion-panel-header>
          
        <div class="" style="width: 100%; margin-top: 10px !important;" *ngIf="oComisionesPagosDetail.length > 0">
        
            <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    
                                    <th class="textAlingLeft padding-th"># Pago</th>
                                    <th class="textAlingLeft padding-th">Venta</th>
                                    <th class="textAlingRight padding-th">Pago</th>
        
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of oComisionesPagosDetail">
        
                                        <td class="textAlingLeft">
                                            <div style="width: 130px; padding: 2px;">
                                                {{ item.idPayment }}
                                            </div>
                                        </td>

                                        <td class="textAlingLeft">
                                            <div style="width: 130px; padding: 2px;">
                                                {{ item.idSale }}
                                            </div>
                                        </td>
        
                                        <td class="textAlingRight">
                                            <div style="width: 100px; padding: 2px;">
                                                {{ item.Pago | currency }}
                                            </div>
                                        </td>
        
                                    </tr>
        
                                </tbody>
                            </table>
                        </div>

                        <app-pagination *ngIf="oComisionesPagosDetail" [IPagination]="pagination"
                                    (OPagination)="changePagination($event)">
                        </app-pagination>
                    
                    </div>
            </div>
            
        </div>
    
        </mat-expansion-panel>
      </mat-accordion>

</div>


<app-spinner [hidden]="!bShowSpinner"></app-spinner>