<div style="padding: 10px;">

    <div class="row">

      <div class="col-md-12">

          <h1>Egresos</h1>

      </div>

    </div>

    <button mat-icon-button
            style="position: absolute; top: 10px; right: 10px;"
            (click)="fn_CerrarMDL()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="row">

        <div class="col-md-9">
            <mat-form-field class="example-full-width with100 top20px">
                <mat-label>Descripción</mat-label>
                <textarea #tbxDesc
                matInput
                cdkTextareaAutosize
                placeholder="Ingrese una descripción"
                [(ngModel)]="egresoForm.description"
                (keyup)="ev_fn_description_keyup_enter( $event )"></textarea>
            </mat-form-field>
        </div>


        <div class="col-md-3">

            <mat-form-field class="with100 top20px">
                <mat-label>Monto</mat-label>
                <input #tbxMonto
                class="textAlingRight colorGreen"

                matInput
                currencyMask
                placeholder="PAGA"
                [(ngModel)]="egresoForm.amount"
                (keyup)="event_fn_Amount( $event )">
            </mat-form-field>

        </div>

    </div>

    <div class="row top10px">
        <div class="col-md-12">
            <div style="float: left;">

                <button mat-raised-button
                color="primary"
                type="submit"
                class="marginRight10px"
                [disabled]="!ev_fn_enableBtnSave()"
                (click)="fn_InsertEgreso()"
                *ngIf="selectPrinter.idPrinter == 0">
                <mat-icon matPrefix class="my-icon">save</mat-icon>
                Guardar</button>

                <button mat-raised-button
                color="primary"
                type="submit"
                class="marginRight10px"
                [disabled]="!ev_fn_enableBtnSave()"
                (click)="fn_InsertEgreso()"
                *ngIf="selectPrinter.idPrinter > 0">
                <mat-icon matPrefix class="my-icon">save</mat-icon>
                Guardar e imprimir ticket</button>

                <button mat-raised-button
                type="button"
                class="marginRight10px"
                (click)="fn_CerrarMDL()">
                <mat-icon matPrefix class="my-icon">close</mat-icon>
                Cerrar</button>

            </div>
        </div>
    </div>

    <div class="row top20px">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th class="textAlingCenter padding-th">Acciones</th>
                        <th class="textAlingLeft padding-th"># Egreso</th>
                        <th class="textAlingLeft padding-th">Descripción</th>
                        <th class="textAlingCenter padding-th">Monto</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of egresosList">
                            <td class="textAlingCenter">
                                <div style="width: 50px;">
                                    <span class="material-icons manitaSobre colorRed"
                                    (click)="fn_disabledEgresos( item.idEgreso )">
                                        delete_outline
                                    </span>

                                    <span *ngIf="selectPrinter.idPrinter > 0" class="material-icons manitaSobre colorGreen" title="Imprimir"
                                        (click)="fn_btnRePrinter(item.idEgreso)">
                                        print
                                        </span>
                                </div>
                            </td>

                            <td style="text-align: left;">{{ item.idEgreso }}</td>

                            <td style="text-align: left;">{{ item.description }}</td>
                            <td style="text-align: right;">{{ item.amount | currency }}</td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>

<app-spinner [hidden]="!bShowSpinner"></app-spinner>
