<div class="cfm-modal">

    <div class="cfm-header">
        <div class="cfm-icono-wrap">
            <mat-icon class="cfm-icono">question_mark</mat-icon>
        </div>
        <h2 class="cfm-titulo">{{ data.header }}</h2>
    </div>

    <div class="cfm-separador"></div>

    <p class="cfm-mensaje">{{ data.message }}</p>

    <p class="cfm-pregunta">{{ data.question }}</p>

    <div class="cfm-acciones">
        <button #btnNo mat-stroked-button class="cfm-btn-no" (click)="close()">{{ data.buttonNo }}</button>
        <button #btnSi mat-raised-button color="warn" class="cfm-btn-si" (click)="delete()">{{ data.buttonYes }}</button>
    </div>

</div>
