<div class="divMain" style="width: 100%; margin-top: -10px !important;">

    <div class="row">
        <div class="col-md-12">
    
                
            <div class="row">
                            
                <div class="col-md-10">
                    <mat-label>Cliente: </mat-label>
                    <mat-form-field
                    style="width: 100%;">
                        <input #cbxCustomerCBX
                        type="text"
                                id="cbxCustomer"
                                style="width: 100%;"
                                placeholder="Selecciona..."
                                aria-label="Number"
                                matInput
                                [(ngModel)]="abonoForm.customerDesc"
                                [matAutocomplete]="cbxCustomer"
                                
                                (keyup)="CBXskeyup( 1, cbxCustomerCBX.value )"

                                (click)="cbxCustomers_Clear()">
                                <button *ngIf="abonoForm.customerDesc" matSuffix mat-icon-button aria-label="Clear" (click)="cbxCustomers_Clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                        <mat-autocomplete autoActiveFirstOption
                                            #cbxCustomer="matAutocomplete"
                                            (optionSelected)="cbxCustomers_SelectedOption( $event )">
                            <mat-option *ngFor="let item of cbxCustomers" [value]="item">
                                {{ item.name }}
                            </mat-option>
            
                            <mat-option value="" *ngIf="abonoForm.customerResp.length > 0">
                                {{ abonoForm.customerResp }}
                            </mat-option>
            
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-md-2">
                    <mat-checkbox  (click)="fn_getVentasACreditoListWithPage()" class="example-margin top20px" [(ngModel)]="abonoForm.all">Todas las compras a crédito incluso las pagadas</mat-checkbox>
                </div>
                
            </div>

            <div class="row top20px">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th class="textAlingCenter">Acciones</th>
                                <th class="textAlingLeft">Descripción</th>
                                <th class="textAlingCenter">Total</th>
                                <th class="textAlingCenter">Abonado</th>
                                <th class="textAlingCenter">Pendiente</th>
                                <th class="textAlingCenter">Fecha</th>
                            </thead>

                            <tbody>
                                <tr *ngFor="let item of saleslist; let i = index">
                                    <td class="textAlingCenter">
                                        <div style="width: 50px;">
                                            <span *ngIf="item.pendingAmount > 1" class="material-icons manitaSobre colorGreen" title="Abonar"
                                                (click)="fn_ShowAddAbono( item )">
                                                attach_money
                                            </span>

                                            <span *ngIf="item.pendingAmount < 1" class="material-icons manitaSobre colorGreen" title="Pagado"
                                            (click)="fn_ShowAddAbono( item )">
                                                check_circle
                                            </span>
                                        </div>
                                    </td>
                                    
                                    <td style="text-align:left;">{{ item.ventaDesc }}</td>
                                    <td style="text-align: right;">{{ item.total | currency }}</td>
                                    <td style="text-align: right;">{{ item.abonado | currency }}</td>

                                    <td style="text-align: right;">{{ ( item.pendingAmount ) | currency }}</td>

                                    <td class="textAlingCenter">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-icon style="margin-top: -5px;" matPrefix class="my-icon">calendar_today</mat-icon>
                                                <label style="margin-left: 10px;">{{ item.createDate | date:'dd-MM-yyyy h:mm:ss a' }}</label>
                                            </div>
                                        </div>
                                        
                                    </td>

                                </tr>
                                
                            </tbody>
                            
                        </table>
                    </div>

                    <app-pagination *ngIf="saleslist" [IPagination]="pagination"
                                (OPagination)="changePagination($event)">
                    </app-pagination>
                    
                </div>

            </div>
    
        </div>
    
    </div>

</div>

<app-spinner [hidden]="!bShowSpinner"></app-spinner>